.App {
  .quiz-title {
    text-align: center;
    padding-bottom: 40px;
    position: relative;
    .quiz-name {
      font-size: 48px;
      margin-top: 5px;
      color: #f97131;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: inline-block;
    }
    .sum {
      margin: 45px 5px 25px 5px;
      padding-left: 55px;
      width: 80%;
      color: #59605f;
      font-size: 22px;
      text-align: left;
    }
    .Quiz-pic {
      border-radius: 10px;
    }
  }
  .begin-quiz {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #e3fcf6;
  }
  .begin-quiz:active {
    outline: none;
  }
}

@media (min-width:801px) {
  .App .quiz-title {
    max-width: 60%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    .quiz-name {
      margin-right: 20px;
      margin-left: 20px;
    }
    .sum {
      margin-right: 30px;
      margin-left: 30px;
    }
    .Quiz-pic {
      max-height: 260px;
      margin-left: 0 auto;
      text-align: center;
      margin-right: 0 auto;
    }
  }
}

@media (max-width:800px) {
  .quiz-title {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    max-width: 800px;
    min-width: 320px;
    text-align: center;
    padding-bottom: 35px;
    .quiz-name {
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 42px;
    }
    .sum {
      line-height: 22px;
      margin-right: 50px;
      margin-left: 50px;
      margin-bottom: 20px;
    }
    .Quiz-pic {
      text-align: center;
      max-height: 200px;
    }
  }
}

