.question {
  border: 2px #6ec8b2 solid;
  padding: 8px 5px;
  margin: 25px 250px;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  display: block;
  color: #59605f;
  h3 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-weight: 300;
  }
  img {
    max-width: 60%;
    max-height: 300px;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 30px;
    border-radius: 10px;
  }
  .possible-choices {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    display: block;
    .choice {
      margin-bottom: 5px;
      margin-top: 5px;
      background-color: white;
      border: 1px solid #9116FC;
      padding: 5px 10px;
      width: 80%;
      text-align: left;
      border-radius: 3px;
      font-size: 24px;
      font-weight: 200;
    }
    .choice:hover {
      cursor: pointer;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .choice.rightAnswer {
      background-color: #bee2d5;
    }
    .choice.wrongAnswer {
      background-color: #ddbaba;
    }
    .choice.answered {
      box-shadow: none;
    }
  }
}

@media (min-width:801px) {
  .question {
    max-width: 60%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    .img {
      min-width: 40px;
    }
  }
}

@media (max-width:800px) {
  .question {
    margin: auto;
    border-left: none;
    border-right: none;
    max-width: 800px;
    border-radius: 1px;
    min-width: 320px;
    .img {
      min-width: 40px;
    }
  }
}
