.result-box {
  border: 2px #6ec8b2 solid;
  margin: 10px 250px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  h1 {
    font-size: 36px;
    margin-bottom: -25px;
    margin-top: 15px;
    font-weight: 300;
    text-align: left;
    margin-left: 100px;
  }
  h2 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 100px;
  }
  img {
    width: 75%;
    border-radius: 20px;
  }
  p {
    padding: 8px 80px;
    text-align: left;
    margin-left: 50px;
  }
  .share-this {
    a {
      display: block;
    }
    .fbpic {
      margin-top: 2px;
      margin-bottom: 2px;
      display: inline-block;
      width: 145px;
    }
  }
}

@media (min-width:801px) {
  .result-box {
    max-width: 60%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    .img {
      min-width: 40px;
    }
  }
}

@media (max-width:800px) {
  .result-box {
    margin: auto;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    max-width: 800px;
    min-width: 320px;
    .img {
      min-width: 40px;
    }
  }
}
