.mainquizzes {
  margin-bottom: 300px;
  h2 {
    font-size: 38px;
    font-weight: 300;
    color: #f97131;
  }
  height: 500px;
  .quizbox {
    padding: 150px 0px 30px 0px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    display: inline-block;
    width: 250px;
    height: 105px;
    vertical-align: middle;
    position: relative;
    .headerImage {
      margin-top: -150px;
      margin-bottom: 50px;
      height: 150px;
      width: 100%;
      vertical-align: top;
    }
    .quiztitle {
      border-top: 1px solid #6EC8B2;
      padding: 8px 20px 20px 10px;
      margin-top: -15px;
      margin-bottom: 50px;
    }
    .quizlink {
      width: 250px;
      text-align: left;
      text-decoration: none;
      color: black;
      font-size: 24px;
      &:hover {
        color: #9116FC;
      }
      &:active {
        color: #6EC8B2;
      }
    }
  }
}
