@import url("https://fonts.googleapis.com/css?family=Poiret+One");

.footer {
  background-color: white;
  height: 30px;
  font-size: 12px;
  clear: both;
  border-top: 2px solid #9116fc;
  bottom: 0;
  width: 100%;
  a {
    text-decoration: none;
    color: red;
    text-align: center;
    margin-left: 328px;
    transition: margin-left 0.4s ease-in-out;
    display: inline-block;
  }
  a:hover {
    color: blue;
  }
  .logo {
    height: 20px;
    margin-left: 5px;
  }
}


@media(max-width: 800px) {
  .footer {
    height: 120px;
    a {
      display: block;
      margin-left: 0;
      margin-top: 20px;
    }
    .logo {
      height: 30px;
      margin-left: 0;
    }
  }
}
