@import url("https://fonts.googleapis.com/css?family=Poiret+One");

header.global {
  background-color: white;
  height: 70px;
  border-bottom: 2px solid #9116fc;

  .logo {
    animation: logo-spin infinite 30s linear;
    height: 55px;
    margin: 10px 31px 1px 220px;
    display: inline;
    transition: height 0.4s ease-in-out;
  }

  .logo:hover {
    height: 70%;
  }

  .page-name {
    display: inline;
    color: black;
    position: absolute;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
    margin-top: 15px;
    font-size: 36px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
  }

  .profile-menu {
    float: right;
    display: inline;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0 auto;
  }

  .profilepage {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #5daa97;
  }

  .profilepage:hover {
    color: #437c6e;
  }

  .searchbar {
    display: inline;
    float: right;
    margin-top: 40px;
    margin-right: -110px;
    width: 170px;
    transition: width 0.4s ease-in-out;
    font-size: 16px;
  }

  .searchbar:focus {
    width: 26%;
    outline: 1px solid rgba(249, 113, 49, 0.5);
    font-size: 16px;
  }

  @keyframes logo-spin {
    0% {
      transform: rotate(-30deg);
    }

    50% {
      transform: rotate(30deg);
    }

    100% {
      transform: rotate(-30deg);
    }
  }

  @media (max-width: 800px) {
    height: 100px;

    .logo {
      margin-left: 20px;
      margin-right: 30px;
    }

    .page-name {
      font-size: 36px;
      margin-top: 10px;
    }

    .profilepage {
      display: block;
      margin-top: 15px;
      font-size: 14px;
      margin-bottom: 8px;
      text-align: right;
    }

    .searchbar {
      margin-right: -78px;
      margin-top: 70px;
      font-size: 16px;
      transition: width 0.4s ease-in-out;
      width: 80px;
    }

    .searchbar:focus {
      width: 35%;
    }
  }
}
